version: '3'

services:

  base_img:
    build: .
    volumes:
      - "./src:/usr/src:rw"
    ports:
      - "3000:8080"
  # need to make the base image persistant 

  pgdb:
    image: postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: docker_psql
    volumes:
      - "./dataM:/data/db:rw"
    ports:
      - "3309:5432"
    depends_on:
      - "base_img"
    
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - "./dataM:/data/db:rw"
    ports:
      - "27017:27017"
    depends_on:
      - "base_img"

    # dont think the DBs need to be persistent so maybe remove the "volumes" from both services

# django:
#   image: django